.mainContainer {
  text-align: center;
  font-family: "Montserrat";
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    #19547b,
    #ffd89b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #19547b,
    #ffd89b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
}

.displayContainer {
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.businessCard {
  display: flex;
  flex-direction: "column";
  justify-content: space-evenly;
  height: 60vh;
  width: 76vw;
  border-radius: 1rem;
  position: fixed;
  background: white;
}
